<audio preload="auto" id="sound-rate">
    <source src="black_mirror_5_stars.mp3" controls></source>
</audio>
<audio preload="auto" id="sound-rate1">
    <source src="music/star1.mp3" controls></source>
</audio>
<audio preload="auto" id="sound-rate2">
    <source src="music/star2.mp3" controls></source>
</audio>
<audio preload="auto" id="sound-rate3">
    <source src="music/star3.mp3" controls></source>
</audio>
<audio preload="auto" id="sound-rate4">
    <source src="music/star4.mp3" controls></source>
</audio>
<audio preload="auto" id="sound-rate5">
    <source src="music/star5.mp3" controls></source>
</audio>

<div class="container" ng-controller="DashboardCtrl as dash">
    <h1 class="text-center">Histories</h1>
    <div class="container-fluid">
        <ul ng-repeat="item in dash.histories">
      
            <li>
                <h2 ng-click="click(item)">  {{item.name}} </h2>
                <p>{{item.post}}</p>
                <p>{{item.rating}}</p>
                <a class="btn btn-default" id="rate-btn"> rate-btn </a>
                    <rate-stars item = "item"></rate-stars>
            </li>
     
        </ul>
    </div>
    <table></table>
</div>