<style>
    .rating-box {

  width: 90%;
  margin: 0 auto;
  background-color:transparent;
}
.rating-box > * {
  display: table-cell;
  vertical-align: middle;
}
.rating-box input[type="radio"] {
  display: none;
}
.rating-box input[type="radio"]:checked ~ label::before {
  color: dodgerblue ;
}
.rating-box label {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}
.rating-box label::before {
  content: "\2605";
  font-family: traductorium;
  font-size: 28px;
  color: grey;
}
.rating-box label:hover::before {
  color: darkorange;
}
.rating-box label:hover ~ label::before {
  color: yellow;
}

.rating-labels {
  direction: rtl;
}

</style>

                 
    <div class="shadow-box rating-box">
        <div class="rating-labels" >
            {{item}}
             <input id="{{item.name}}_star5" type="radio" class="star" ng-click="click(item,5)" />
            <label for="{{item.name}}_star5"></label>

            <input id="{{item.name}}_star4" type="radio" class="star" ng-click="click(item,4)" />
            <label for="{{item.name}}_star4"></label>

            <input id="{{item.name}}_star3" type="radio" class="star" ng-click="click(item,3)" />
            <label for="{{item.name}}_star3"></label>

            <input id="{{item.name}}_star2" type="radio" class="star" ng-click="click(item,2)" />
            <label for="{{item.name}}_star2"></label>

            <input id="{{item.name}}_star1" type="radio" class="star" ng-click="click(item,1)" />
            <label for="{{item.name}}_star1"></label>
        </div>
        
    </div>  