<style>
    .rating-box {

  width: 90%;
  margin: 0 auto;
  background-color:transparent;
}
.rating-box > * {
  display: table-cell;
  vertical-align: middle;
}
.rating-box input[type="radio"] {
  display: none;
}
.rating-box input[type="radio"]:checked ~ label::before {
  color: dodgerblue ;
}
.rating-box label {
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
}
.rating-box label::before {
  content: "\2605";
  font-family: traductorium;
  font-size: 28px;
  color: grey;
}
.rating-box label:hover::before {
  color: darkorange;
}
.rating-box label:hover ~ label::before {
  color: yellow;
}

.rating-labels {
  direction: rtl;
}

</style>

<div class="shadow-box rating-box">
        <div class="rating-labels">
             <input name="select" id="star5" type="radio" class="star"  value="5" />
            <label for="star5"></label>

            <input name="select" id="star4" type="radio" class="star"  value="4" />
            <label for="star4"></label>

            <input name="select" id="star3" type="radio" class="star"  value="3" />
            <label for="star3"></label>

            <input name="select" id="star2" type="radio" class="star"  value="2" />
            <label for="star2"></label>

            <input name="select" id="star1" type="radio" class="star"  value="1" />
            <label for="star1"></label>
        </div>
    </div>  