
i.fa{
    padding: 5px;
    color:#FFFFFF;
}

a{
    font-size: 18px;
    color: #FFFFFF
}

.menu-left{
     font-size: 25px;
     padding-left: 10px;
     padding-top: 5px;
}
.base-content{
    margin: 15px;
}